@charset "utf-8";


.container{
  width: 960px;
  display: flex;
  justify-content:space-between;
}

.box{
  width: 300px;
  height: 300px;
  background-color: blue;
}

.container2{
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.box2{
  width: 300px;
  height: 300px;
  display: flex;

  justify-content: space-between;
  background-color: red;
  margin-bottom: 30px;
}

