@charset "utf-8";

.header {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #626060;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 15px;
  color: #626060;
}

.nav-list li {
  position: relative;
  padding: 0 15px;
}

.nav-list li:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -15px;
  color: #999;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding: 20px;
    width: 100%;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 0;
  }
  .nav-list li {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    width: 100%;
  }

  .nav-list li:not(:last-child)::after {
    display: none;
  }
}
